/*Ella Mathewson
Updated: April 18th, 2018*/

/*NOTE: SOME OF THIS CODE COULD BE BETTER APPLIED IN A MORE
CONDENSED FASHION. THIS WEBSITE WAS MADE WITHIN A WEEK TO 
MEET A DEADLINE, AND I APOLOGIZE FOR THE HASTE. IT WILL BE 
FIXED AS SOON AS POSSIBLE.*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

    /*Div for all the content*/
.content {
    width: 90%;
    margin: 5px 5%;
}

    /*Universal CSS */
h1, h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 2.5px;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

a {
    color: #008ED1;
    text-decoration: none;
}

.link {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 0 80px;
    display: inline;    
    position: relative;
}

a:hover {
    color: #008ED1;
    text-decoration: underline;
}

    /* Nav bar CSS */
.header {
    width: 80%;
     margin: 0 auto;
    padding: 10px;
    text-align: center;
}

nav {
    padding-top: 10px;
    padding-bottom: 10px;
    }

hr {
    border: 0;
    height: 1px;
    width: 50%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), 
    rgba(0, 0, 0, 0));
    margin-bottom: 50px;
}

    /*Content CSS* -- adapted from CodePen (https://codepen.io/oknoblich/pen/ELfzd) */

.gallery {
  width: 80%;
  margin: 0 auto;
  padding: 10px;

/* Makes the gallery responsive to the window size changing*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        max-width: 80%;

}

.gallery > div {
  position: relative;
  float: left;
  padding: 50px;

/* Makes the divs change location (or space in between the divs) as the window changes */
  -webkit-box-flex: 1;
    -ms-flex: 1 1 15%;
        flex: 1 1 15%;
}

#adjust1 {
    /* padding-left: 20%; */
    margin-left: -38%;
}


.gallery > div > img {
  display: block;
  width: 200px;
  transition: .1s transform;
  transform: translateZ(0); /* hack */

}

.gallery > div:hover {
  z-index: 1;
}

/*.gallery > div:hover > img {
  transform: scale(1.9,1.9);
  transition: .2s transform;
  cursor: pointer;
}*/

/* When mouse is over the image*/
.gallery > div:hover > a > img {
  transform: scale(1.9,1.9);
  transition: .3s transform;
  cursor: pointer;
  padding: 0 auto;
  box-shadow: 0px 0px 10px -1px rgba(0, 0, 0, 0);

}

/* When mouse leaves the image*/
.gallery > div > a > img {
  transform: scale(1,1);
  transition: .3s transform;
  padding: 0 auto;
box-shadow: 0px 0px 15px -1px rgba(0, 0, 0, 0.75);

}

.cf:before, .cf:after {
  display: block;
  content: "";
  line-height: 0;
}

.cf:after {
  clear: both;
}

.click {
    width: 200px;
    display: block;
    margin-left: 10px;
    margin-right: 0;
    padding: 0;
}

.imgClick {
    max-width: 100%;
    padding: 0;
    display: block;
}

    /* About page */
.aboutPara {
    margin: 0 20%;
    padding: 10px 50px;
    line-height: 35px;
}

.projInfo {
    display: block;
    float: right;
    width: 50%;
    padding-right: 2.5%;
    margin-top: 50px;
}

#threePic {
    margin-top: -600px;
    width: 40%;
}

    /* Pages for individual projects */
.projectImg {
    padding: 0;
    margin: 0;
    max-width: 40%;
    height: auto;
    padding-left: 5%;
}

#narrowImg {
    margin-top: 75px;
    max-width: 60%;
    margin-left: 15%;
    margin-top: 0;
}

#underPara {
    float: center;
    width: 75%;
    padding-right: 10%;
    margin-top: 5px;
}

#codePara {
    float: center;
    width: 75%;
    padding-right: 10%;
    margin-top: 50%;
}

p {
    line-height: 40px;
}


    /* CSS for 'back to top' button on every page */
/*#footer {
    clear: both;
    float: right;
    left: 0;
    bottom: 0;
    text-align: center;
}*/
/*
#top {
    padding: 0;
    height: 0;
}*/