/*Ella Mathewson
Updated: October 4th, 2018*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Roboto');

@import url('https://fonts.googleapis.com/css?family=Montserrat:100');

/***
    Div for all the content on the page. Centers it and gives it space on the sides
***/

html {
    background-color: lightgray;
}

.content {
    width: 90%;
    margin: 5px 5%;
    display: flex;
    flex-direction: column;
}

/***
    Universal CSS for the entire site.
****/

/***
    For h1 and h2, sets font family, color, and spacing of letters. 
***/
h1 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: 2.5px;
}

/***
    Sets font family and size
***/
p, .intextLink {
    font-size: 20px;
    line-height: 40px;
    padding: 1em 0;
}

.intextLink {
    padding: 0;
    display: block;
}

.intextLink:hover {
    text-decoration: underline;
    color: black;
}

/***
    Changes color of links and removes the line underneath it
***/
a, p {
    display: flex;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 1.5em 0;
}

/***
    CSS specific to nav links at top of page. Sets up how the links 
    are displayed on the page
***/
.link {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 3px;
    padding: 0 80px;
    display: inline;    
    position: relative;
}

/***
    When hovering over the link, the underline comes back and it changes color
***/
a:hover {
    color: darkgray;
}

#title:hover {
    cursor: pointer;
}

/*


    Main page


*/

body {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 90vw;
    height: auto;
    margin: 0 5vw;
}

body::-webkit-scrollbar {
    display: none;
}

#content{
    position: relative;
}

#title {
    position: relative;
    width: 20vw;
    margin: 20vh 35vw 0 35vw;

    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 2px;

    font-family: 'Montserrat', sans-serif;
    color: black;
}

.name {
    font-size: 50px;
}

nav {
    position: relative;
    width: 20vw;
    margin: 0 35vw;
    justify-content: center;
    align-content: center;
    padding: 20px 0;
}


 #arrows {
    display: flex;
    flex-direction: column;

    bottom: 0;
    right: 0;
    padding: 0;
    margin: 2%;
    position: fixed;
    transition: all .2s ease-in-out;
} 

#logo, #backToMain {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

#down, #up {
    font-size: 20px;
    margin: 0;
    padding: 0;
    justify-content: center;
    align-content: center;
}

#up {
    visibility: hidden;
}

#up:hover, #down:hover {
    cursor: default;
}

#logo:hover, #backToMain:hover, .backToProjects:hover {
    cursor: pointer;
    transform: scale(2);
}

/***
    On project pages, this is for the line that divides the header and nav from the rest of 
    the site. <hr> is a tag that creates a break in the page, and this code makes it appear 
    like a small line     
***/
hr {
    border: 0;
    height: 1px;
    width: 25%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.25), 
    rgba(250, 139, 139, 0));
    margin: 0;
    padding: 0;
}

/*


    GALLERY


*/
#projPage {
    display: none;
}

.projNav {
    clear: both;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5vh 35vw 0 35vw;
}

.projLink {
    margin: 0 2vw;
}

.projLink:hover {
    cursor: pointer;
}

.projectsGrid {
    display: flex;
    flex-direction: row;
    width: 90vw;
    height: 80vh;
    flex-wrap: wrap;
    align-content: flex-start;

    justify-content: center;
    transition: all 1s ease;
}

.projIcon {
    width: 200px;
    height: 200px;
    margin: 1vh 1vw;
    transition: all .2s ease-in-out;

}

.projIcon:hover {
    transform: scale(1.2);
}

/******


    About Page


******/

/***
    CSS for the about paragraph on the about page
***/
.aboutPara {
    margin: 0 20%;
    padding: 10px 50px;
    line-height: 35px;
}

/******


    Project Pages


******/

.logoProjPage {
    font-size: 40px;
    margin: 0;
    padding: 0;
}

.projTitle:hover {
    cursor: default;
}

.projectPage {
    margin-top: 4rem;
    position: relative;
    align-content: center;
}

.gridProject {
    width: 90%;
    margin: 0 5%;
    display: flex;
}

.gridProjectWide {
    width: 90%;
    margin: 0 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projectImg {
    padding: 1em 0;
    margin: 0 0 2% 0;
    width: 40%;
    height: 30%;
    clear: both;
}

.projectImgWide {
    margin: 10vh 0 0 0;
    padding: 10vh 0 0 0;
    width: 60%;
    height: 20%;
    clear: both;
}

.textGridContainer {
    margin: 0;
    padding: 0 3em;
    line-height: 0.5;
    position: relative;
}

.textGridContainer p {
    margin: 1.5em 0;
    padding: 0;
}

.backToProjects {
    position: fixed;
    padding: 0;
    margin: 10px 0 0 0;
    font-size: 30px;
    top: 0;
}

#hueGrid {
    margin-top: 200vh;
}

.aboutPage {
    display: flex;
}


/***
    On the typography page, there are three images displayed instead of just one.
    This code moves the location of the images and changed the width so they can all 
    fit.
***/
#threePic {
    margin-top: -600px;
    width: 40%;
}


/***
    Location and sizing of images that were wider and worked
    more as landscapes than portraits
***/
#narrowImg {
    margin-top: 75px;
    max-width: 60%;
    margin-left: 15%;
    margin-top: 0;
}

/***
    If the image was a narrow image / landscape image, the paragraph
    location and size needed to be changed to fit this image as well
***/   
#underPara {
    float: center;
    width: 75%;
    padding-right: 10%;
    margin-top: 5px;
}

#wearable {
    width: 80%;
}

/***
    With the coding projects, the actual program is running on the page. This
    means that the parapgrah needed to be changed to fit on the page as well
***/
#codePara {
    float: center;
    width: 75%;
    padding-right: 10%;
    margin-top: 50%;
}

/***
    Learned how to change the site depending on the screen size. When the page 
    is this size, the number of columns on the main page becomes 1. Along with this, the
    images on the project pages adapt as well.
***/